
/* .background {
 */    /* background-color:; */
   /*  background-repeat: no-repeat; */
/*     width: 100vh;
    height: 100vh;
    background-size: cover;
} */

/* h1 {
    height: 10em;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}
 */
/* .question{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    height: 80px;
    border-radius: 12px;
} */





.hide {
    display: none;
}


/* 
________________________________________________________________________________ */

*{
    margin: 0;
}

.background {
    /* margin-top: -100px; */
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    position: absolute;
    top: 170px;
    right: 30%;
}

.gifcomecou {
    position: absolute;
    top: 400px;
    right: 6%;
    width: 250px;
    /* height: 200px; */
}


.startbtn {
    position: absolute;
    bottom: 12%;
    left: 45%;
   /*  background-color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(125,125,125,1) 100%); */
  /*   background-image: url("../assets/imagens/comecougif.gif"); */
  background:black;
background: black;
    height: 50px;
    width: 120px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px black;
    --b: 0.1em;   /* the thickness of the line */
    --c: black; /* the color */
    
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .startbtn:hover {
    --_p: 100%;
    --_s: .3s;
  }

  .btn  {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .btn:focus {
    text-decoration: none;
  }
  
  .btn:hover {
    text-decoration: none;
  }
  
  .btn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .btn:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .btn {
      padding: 12px 50px;
    }
  }
  
      
  
  /* 
  .btn1 {
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      margin-top: 90px;
  
  }
   */
  /* .question { 
      font-size: 35px;
      text-align: center;
      border-radius: 18px;
      padding: 15px;
      box-shadow: 4px 4px 4px rgb(77 75 75);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #eea0f5;
      align-self: center;
      margin-top: 100px;
      
  
  } */
  
  .question  {
      appearance: button;
      background-color: #000;
      background-image: none;
      border: 1px solid #000;
      border-radius: 4px;
      box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 5px 10px 0;
      overflow: visible;
      padding: 12px 40px;
      text-align: center;
      text-transform: none;
      touch-action: manipulation;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
    }
    
    .question:focus {
      text-decoration: none;
    }
    
    .question:hover {
      text-decoration: none;
    }
    
    .question:active {
      box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
      outline: 0;
    }
    
    .question:not([disabled]):active {
      box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
      transform: translate(2px, 2px);
    }
    
    @media (min-width: 768px) {
      .question {
        padding: 12px 50px;
      }
    }

 .dinheirobutton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dinheirobutton:hover {
  background-color: rgb(249,250,251);
}

.dinheirobutton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.dinheirobutton:focus-visible {
  box-shadow: none;
}

.lostgif {
    position: absolute;
    top: -0px;
    left: 0px;

}

.wingif{
    position: absolute;
    top: 70px;
    right: 0px;
    height: 340px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/imagens/backimgpergunta.jpg");
    height: 100vh;
    background-size: cover;
    gap: 10px;

}
